
#header {
    z-index: 1;
    position: static;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    list-style-type: none;
    margin:0px;
}



#footer{
    z-index: 1;
    position:static;
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-left:1rem;

}

img#logo{
    width:100%;
    height:auto;
    justify-content: center;
}

.flipCardContainer {
    background-color: transparent;
    width:auto;
    height:auto;
    perspective: 1000px;
}

.flipCardInner {
    position:relative;
    width:100%;
    height:100%;
    text-align:center;
    transition: transform 1s;
    transform-style: preserve-3d;
}


@media (max-width:480px)  { 
    img#logo {
        width:20%;
        height:auto;
    }
}